.content{
    width: 100%;
    height: auto;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    position: relative;
}
.box{
    width: 20%;
    height: 190px;
    background-color: #2b6777;
    margin: 20px;
    border: 1px solid #52ab98;
    border-radius: 7px;
    position: relative;


}
.My_button{
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 7px;
    font-weight: 700;

}
.box h1{
    font-weight: 1000;
    color: #000;
    background-color: #f2f2f2;
    line-height: 80px;
    border-radius: 7px;
    text-decoration: underline;

}
.Inner_div{
    border: 1px solid gray;
    box-shadow: 5px 5px 5px grey;
    margin-bottom: 20px;
 }
.Card{
    width: 300px;
    padding-top: 1rem;
    /* border: 1px solid gray;
    box-shadow: 5px 5px 5px grey; */
}
/* h1{
    text-decoration: underline;
    letter-spacing: 16px;
} */


button{
    width: 100%;
}

.Portal{
    background-color: #fff;
    position: absolute;
    margin: auto;
    width: 96%;
    height: 100vh;
    opacity: 0.8;
     border: 1px solid gray;
    border-radius: 8px;
}

.Add_Visit{
    width: 100%;
    height: auto;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    position: relative;
    background-color: #1890ff;
    border: 1px solid blue;
}
.Farms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    flex-direction: column;
}

.Farms_div{
    background-color: #2b6777;
    padding: 0.5rem;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 5px;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
}
.Farm_main_div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.Farm_planting{
    border-top:1px solid grey ;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
 
}
.Farms_div_plnt{
    background-color: #379683;
    color: #fff;
    font-weight: 700;
    word-break: break-all;
    
    padding: 0.5rem;
    /* color: #fff; */
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 5px;
    
}
.Farms_div_crops{
    background-color: #7395AE;
    color: #fff;
    font-weight: 700;
    word-break: break-all;
    
    padding: 0.5rem;
    /* color: #fff; */
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    width: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 5px;
}

.Farm_crop{
    border-top:1px solid grey ;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
    width: 100%;
 
}
@media screen and (max-width:1200px) {
    .box{
        width: 40%;

    }
   
}


@media screen and (min-width:700px) {
    .Farms_div{
        width: 10%;
    }
    .Farms_div_plnt{
        width: 10%;

    }
    .Farms_div_crops{
        width: 10%;

    }
    
}


/* 
@media screen and (min-width:px) {
    .Farms_div{
        width: 10%;
    }
    .Farms_div_plnt{
        width: 10%;

    }
    .Farms_div_crops{
        width: 10%;

    }
} */


@media screen and (max-width:600px) {
    .box{
        width: 70%;
        
    }

    .Farms_div{
        width: 50%;
    }
    .Farms_div_plnt{
        width: 50%;

    }
    .Farms_div_crops{
        width: 50%;

    }
    
}